:gametheme{
    --text-color:#ffffff;
    --button-color:#c66bff;
}
.test{
    color: var(--text-color)
}
.midclass{
    font-size:4vh;
    text-align:center;
}
.midclass input, 
.midclass select {
    font-size: 1em;
    height:1.2em;
    
}
.rightbar{
    display: inline-block;
    text-align: left;
    font-size: 1em;
    height:1.2em;
    width:16vh;
    background-color: #ddd;
    border: none;
}
.leftbar{
    display: inline-block;
    text-align: left;
    font-size: 1em;
    width:16vh;
    border: none;

}